button, input, select, textarea{
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;

}

 html,
 body {
   min-height: 100%;
   padding: 0;
   margin: 0;
   font-family: Roboto, Arial, sans-serif;
   font-size: 14px;
   color: #666;
 }
 form {
   padding: 25px;
   margin: 25px;
   box-shadow: 0 2px 5px #f5f5f5;
   background: #f5f5f5;
 }
 body,
 div,
 form,
 input,
 p {
   padding: 20px;
   margin: 10px;
   outline: none;
   font-family: Roboto, Arial, sans-serif;
   font-size: 14px;
   color: #666;
   line-height: 22px;
 }
 h1 {
   margin: 0 0 20px;
   font-weight: 400;
   color: #1c87c9;
 }
 .formbox {
   display: flex;
   justify-content: center;
   align-items: center;
   height: inherit;
   padding: 10px;
 }
 form {
   width: 50%;
   padding: 20px;
   background: #fff;
   box-shadow: 0 2px 5px #ccc;
 }
 input {
   width: calc(100% - 10px);
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 3px;
   vertical-align: middle;
 }
 input:hover,
 textarea:hover {
   outline: none;
   border: 1px solid #095484;
 }
 .submit {
   width: 100px;
   background-color: rgb(157, 200, 64);
 }

 th,
 td {
   width: 28%;
   padding: 15px 0;
   border-bottom: 1px solid #ccc;
   text-align: center;
   vertical-align: unset;
   line-height: 18px;
   font-weight: 400;
   word-break: break-all;
 }
 .first-col {
   width: 16%;
   text-align: left;
 }
 textarea:hover {
   outline: none;
   border: 1px solid #1c87c9;
 }
 table {
   width: 50%;
 }
 textarea {
   width: calc(100% - 6px);
 }
 .question {
   padding: 15px 0 5px;
   color: #095484;
 }
 .question-answer label {
   display: block;
   padding: 0 20px 10px 0;
 }
 .question-answer input {
   width: auto;
 }
 .btn-block {
   margin-top: 20px;
   text-align: center;
   background-color: rgb(157, 200, 64);
 }
 button {
   width: 150px;
   padding: 10px;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #095484;
   font-size: 16px;
   color: #fff;
   cursor: pointer;
 }
 button:hover {
   background-color: #0666a3;
 }
 @media (min-width: 568px) {
   th,
   td {
     word-break: keep-all;
   }
 }
